#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=konsole -e fish -c 'dronology'
Name=Dronology Build and Launch
Comment=Build then Start Dronology
